[Desktop Entry]
Name=NovatOS Aurora
Name[ar]=NovatOS Aurora
Comment=Default NovatOS wallpaper

[Wallpaper]
defaultWallpaperTheme=NovatOS-Aurora
File=NovatOS-Aurora.png
PreviewFile=NovatOS-Aurora.png
Author=NovatOS Project