[$Version]
2

[Desktop Entry]
Type=Application
Name=NovatOS Welcome
Comment=Welcome to NovatOS — install, configure, get help.
Icon=novatos
Exec=novatos-welcome
Terminal=false
Categories=System;
StartupNotify=false
X-KDE-autostart-phase=2
